table {
    border: 0.125rem #d6cec3 solid;
    border-collapse: collapse;
}

th, td {
    color: #2c363f;
    border: 0.125rem #2c363f solid;
    background-color: #d6cec3;
}

tr:hover td{
    background-color: #F7F5F3;
}