/* Remove padding from the list, and add a background color */
ul {
    list-style-type: none;
    padding: 0;
    background-color: #d6cec3;
    font-family: 'Lilita One', cursive;
    /* Flex the list items side by side */
    display: flex;
}

ul li a {
    display: inline-block;
    color: #2c363f;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.5rem;
}

ul li:hover, li:first-child {
    background-color: #f9dc5c;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul li.icon {
    display: none;
    height: 59px;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    ul li:not(:first-child) {
        display: none;
    }
    
    ul li.icon {
        display: inline;
    }
}

/* The "responsive" class is added to the nav ul with JS when the user clicks on the icon. This class makes the topnav look good on small screens. */
@media screen and (max-width:680px) {
    ul.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    ul.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.responsive li {
        display: inline;
    }

    ul.responsive li a {
        display: block;
        text-align: left;
    }
}