/* Using CSS custom properties (variables) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* A common best practice is to define custom properties on the :root pseudo-class, 
so that it can be applied globally across your HTML document */
:root {
    --portal-light-color: #d6cec3;
    --portal-dark-color: #2c363f;
    --portal-bright-color: #f9dc5c;
    --one-rem: 1rem;
}

body {
    background-color: var(--portal-dark-color);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--one-rem);
    color: var(--portal-bright-color);
    margin: var(--one-rem);
}

h1>a, h2 {
    font-family: 'Lilita One', cursive;
    font-size: 2.5rem;
    color: var(--portal-bright-color);
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

footer a, article a {
    color: #B3CAEA;
}

main, footer {
    display: flex;
}

footer p, #validators {
    margin: auto 2px;
}


/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
    img.desktop {
        margin: 5.5rem 1rem;
    }
    
    img.tablet, img.phone {
        display: none;
    }  
}

/* TABLET */
@media all and (min-width:802px) and (max-width:1399px) {
    img.tablet {
        margin: 5rem 1rem;
    }

    img.desktop, img.phone {
        display: none;
    }
}
    
/* PHONE */
@media all and (max-width:801px) {
    p {
        margin-left: 5px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
    
    img.phone {
        margin: 0.5rem 1rem;
    }

    img.tablet, img.desktop {
        display: none;
    }  
}